body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    /*fuentes*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-font-smoothing: antialiased; 
    -moz-font-smoothing: antialiased; 
    -moz-ozx-font-smoothing: antialiased; 
}

#header {
    border: 1px solid black;
    height: 118px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 3px solid #61dafb;
}

.center {
    width: 90%;
    margin: 0px auto;
}

.clearfix{
    clear: both;
    /*La propiedad CSS clear especifica si un elemento puede estar al lado de elementos flotantes 
    que lo preceden o si debe ser movido (cleared) debajo de ellos. 
    La propiedad clear aplica a ambos elementos flotantes y no flotantes.*/
    float: none;
}


#logo {
    width: 40%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img {
    display: block;
    float: left;
    height: 100px ;
    margin-top: -30px;
    /*
    animation-duration: 2s;
    animation-name: slidein;
    */
}
/*
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%; 
    }
  
    75% {
      font-size: 300%;
      margin-right: 25%;
      width: 150%;
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  }
  */

#brand {
    /*display: block;*/
    margin: 0px;
    margin-left: -65px;
    margin-bottom: -10px;
}

#menu {
    width: 60%;
    float: right;
    font-size: 18px;
}


#menu ul { /* selector que hace referencia a la etiqueta ul dentro del menu */
    /* dimension de la ubicación en altura */
    line-height: 74px;
    width: 90%;

}

#menu ul li {
    /* muestra los elementos de la lista horizontalmente */
    display: inline-block;
    /*quita los puntos viñeta de la listak*/
    list-style: none;
    height: 45px;
    /*muestra los elementos de la lista con margen hacia izq y derecha*/
    margin-left: 15px;
    margin-right: 15px;
    
}

#menu a {
    /*quita el subrayado del hiperlink*/
    text-decoration: none;
    color: #444;
    /*Transisiona cambiar el color cuando pasa el puntero del mouse sobre el elemento 
    está ligado a la propiedad "hover"*/
    transition: 300ms all;
}

#menu a:hover {
    /*hover permite cambiar el color cuando pasa el puntero del mouse sobre el elementok*/
    color: #38a7c5;
}

#slider{
    /*podríamos dejar el background fijo
    background: #61dafb;*/
    width: 100%;
    height: 350px;
    /*line-height 320 permite dejar la línea más o menos en el medio
    line-height: 320px;*/
    /*color letra*/
    color: white;
    text-shadow: 0px 0px 5px #444;

    /*... ó podríamos dejar el background degradado. Codigo extraido de https://www.cssmatic.com/ gradient generator
    */
    background: rgba(164,179,87,1);
    background: -moz-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));
    background: -webkit-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -o-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -ms-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: linear-gradient(to right, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
    
}

#slider h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 120px;
    text-align: center;
}

.btn-white{
    display: block;
    background: white;
    color: black;
    padding: 10px;
    width: 100px; 
    height: 30px;
    margin: 0px auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 30px;
    box-shadow: 0px 0px 5px #444;
    border-radius: 10px;
    transition: 300ms all;
    /*Nota: la propiedad transition funciona con la clase .btn-white:hover*/
}

.btn-white:hover{
    /*cuando pasa el puntero del mouse arriba del botón, hace transición y cambia de color*/
    background: #444;
    color: white;
}

#slider.slider-small{
    height: 150px;
}

#slider.slider-small h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 50px;
    text-align: center; 
}

#content{
    width: 100%;
    float: center;
    min-height: 450px ;
    margin-right: 20px  ;
    /*border: 1px solid red;*/
}


#footer{
    background: #ccc;
    width: 100%;
    height: 77px;
    line-height: 77px;
    color: #444;
}
